.kiddologologin{
    animation-name: kiddologin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
}
@keyframes kiddologin{
    0%   {transform: rotate(12deg);}
    25%  {transform: rotate(0deg);}
    50%  {transform: rotate(-12deg);}
    75%  {transform: rotate(0deg);}
    100% {transform: rotate(12deg);}
}
